html {
	background-color: rgb(165, 209, 235);
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 2;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Clicker Script', cursive;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

header {
	padding-top: 10px;
	padding-bottom: 10px;
	color: rgb(255, 255, 255);
}

header h1 {
	margin: 0;
	font-size: 300%;	
	font-weight: normal;
}

.section {
	padding-right: 40px;
	padding-left: 40px;
}

.container {
	margin: 0 auto;
	overflow: hidden;
	max-width: 1024px;
}

@media screen and (min-width: 1280px) {
	body {
		font-size: 17px;
	}

	.container {
		max-width: 1200px;
	}
}

@media screen and (max-width: 768px) {
	.section {
		padding-right: 20px;
		padding-left: 20px;
	}
}

/* Site Navigation */
.site-nav {
	margin: 0;
}

.site-nav ul {
	margin: 0;
	padding: 0;
}

.site-nav li {
	margin-right: 5px;
	float: left;
	list-style: none;
}

.site-nav a {
	padding: 10px 20px;
	display: block;
	font-size: 85%;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: rgb(219, 220, 221);
	color: rgb(255, 255, 255);
}

.site-nav a:hover {
	background-color: rgb(255, 255, 255);
	color: rgb(255, 187, 177);
}

@media screen and (max-width: 1280px) {
	.site-nav li {
		margin-right: 0;
		width: 33.332%;
	}

	.site-nav a {
		margin-right: 5px;
		margin-bottom: 5px;
		padding: 15px 0;
		text-align: center;
		border-radius: 5px;
	}
}

@media screen and (max-width: 768px) {
	.site-nav li {
		width: 50%;
	}
}
/* End Site Navigation */

.content-area {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 768px) {
	.content-area {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.hero-area {
	margin-top: -10px;
	width: 100%;
	box-sizing: border-box;
	background-color: rgb(219, 220, 221);
}

.hero-area h2 {
	margin-top: 40px;
	font-size: 250%;
	font-weight: normal;
	text-align: center;
	line-height: 1;
	color: rgb(255, 255, 255);
}

.hero-area h3 {
	margin-top: 0;
	margin-bottom: 40px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 100%;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	color: rgb(255, 255, 255);
}

.intro-area h3 {
	margin-bottom: -10px;
	font-size: 200%;
	font-weight: normal;
	color: rgb(255, 187, 177);
}

.main-area {
	padding-right: 40px;
	width: 66%;
	float: left;
	box-sizing: border-box;
	color: rgb(0, 0, 0);
}

.btn-a {
	padding: 5px 10px;
	font-size: 85%;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 5px;
	background-color: rgb(255, 187, 177);
	color: rgb(255, 255, 255);
}

.btn-a:hover {
	background-color: rgba(255, 187, 177, 0.5);
	color: rgb(219, 220, 221);
}

.sidebar {
	font-size: 85%;
	color: rgb(219, 220, 221);
}

.photog {
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 10px;
	padding: 2px;
	float: right;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(219, 220, 221);
	border-radius: 50%;
}

.first-column {
	padding-top: 10px;
	padding-right: 40px;
	width: 33%;
	float: left;
	box-sizing: border-box;
	color: rgb(0, 0, 0);
}

.second-column {
	padding-top: 10px;
	padding-right: 40px;
	width: 33%;
	float: left;
	box-sizing: border-box;
	color: rgb(0, 0, 0);
}

.third-column {
	padding-top: 10px;
	width: 33%;
	box-sizing: border-box;
	color: rgb(0, 0, 0);
}

.first-column h3, .second-column h3, .third-column h3 {
	margin-bottom: -20px;
	font-size: 200%;
	font-weight: normal;
	color: rgb(255, 187, 177);
}

footer {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 85%;
	text-align: center;
	color: rgb(255, 255, 255);
}

.social a {
	padding-right: 10px;
	padding-left: 10px;
	font-size: 150%;
	color: rgb(255,255,255);
}

.social a:hover {
	color: rgba(255,255,255,0.5);
}

/* Grid System */
.row {
	margin-right: -20px;
}

.col {
	padding-right: 20px;
	width: 100%;
	float: left;
	box-sizing: border-box;
}

.col-xs-11 {width: 91.662%;}
.col-xs-10 {width: 83.332%;}
.col-xs-9 {width: 75%;}
.col-xs-8 {width: 66.662%;}
.col-xs-7 {width: 58.331%;}
.col-xs-6 {width: 50%;}
.col-xs-5 {width: 41.662%;}
.col-xs-4 {width: 33.332%;}
.col-xs-3 {width: 25%;}
.col-xs-2 {width: 16.662%;}
.col-xs-1 {width: 8.332%;}

@media screen and (min-width: 768px) {
	.row {
		margin-right: -40px;
	}

	.col {
		padding-right: 40px;
	}

	.col-sm-11 {width: 91.662%;}
	.col-sm-10 {width: 83.332%;}
	.col-sm-9 {width: 75%;}
	.col-sm-8 {width: 66.662%;}
	.col-sm-7 {width: 58.331%;}
	.col-sm-6 {width: 50%;}
	.col-sm-5 {width: 41.662%;}
	.col-sm-4 {width: 33.332%;}
	.col-sm-3 {width: 25%;}
	.col-sm-2 {width: 16.662%;}
	.col-sm-1 {width: 8.332%;}
}

@media screen and (min-width: 1024px) {
	.col-md-11 {width: 91.662%;}
	.col-md-10 {width: 83.332%;}
	.col-md-9 {width: 75%;}
	.col-md-8 {width: 66.662%;}
	.col-md-7 {width: 58.331%;}
	.col-md-6 {width: 50%;}
	.col-md-5 {width: 41.662%;}
	.col-md-4 {width: 33.332%;}
	.col-md-3 {width: 25%;}
	.col-md-2 {width: 16.662%;}
	.col-md-1 {width: 8.332%;}
}

@media screen and (min-width: 1280px) {
	.col-lg-11 {width: 91.662%;}
	.col-lg-10 {width: 83.332%;}
	.col-lg-9 {width: 75%;}
	.col-lg-8 {width: 66.662%;}
	.col-lg-7 {width: 58.331%;}
	.col-lg-6 {width: 50%;}
	.col-lg-5 {width: 41.662%;}
	.col-lg-4 {width: 33.332%;}
	.col-lg-3 {width: 25%;}
	.col-lg-2 {width: 16.662%;}
	.col-lg-1 {width: 8.332%;}
}
/* End Grid System */

/* Clearfix Method */
.fix {
	clear: both;
}

.row:before,
.row:after,
.group:before,
.group:after {
	content: "";
	display: table;
}

.row:after,
.group:after {
	clear: both;
}

.row,
.group {
	zoom: 1;
}
/* End Clearfix Method */